@* @model IEnumerable<FlowersStore.Models.Cart>*@

@model Tuple<List<FlowersStore.Models.Flower>, List<FlowersStore.Models.Bouquet>>


<h2 class="wow fadeInUp">Your Cart</h2>


@if (TempData["cart"] != null)
{
    <table class="table table-responsive table-bordered">

        @*Table Headings*@
        <thead>
            <tr>
                <th>Назва</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Загальна ціна</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Item2 != null)
            {
                foreach (var b in TempData["cart"] as List<FlowersStore.Models.Cart>)
                {
                    <tr>
                        <td>@b.BouquetName</td>
                        <td>@b.Quantity</td>
                        <td>@b.BouquetPrice</td>
                        <td>@b.Bill</td>
                    </tr>

                }
            }
            else
            {
                foreach (var f in TempData["cart"] as List<FlowersStore.Models.Cart>)
                {
                    <tr>
                        <td>@f.FlowerName</td>
                        <td>@f.Quantity</td>
                        <td>@f.FlowerPrice</td>
                        <td>@f.Bill</td>
                    </tr>

                }
            }


        </tbody>

        <tfoot>
            <tr>
                <td align="right" class="text-danger"><h3>Total sum: @TempData["total"]</h3></td>
            </tr>
        </tfoot>
    </table>

    <a id="btn_add" href="@Url.Action("Index", "Bouquets")" class="btn btn-info btn-lg" style="margin-left:60px">
        <span class="glyphicon"></span> Continue shopping
    </a>

}
else
{
    <h3 style="color:red"> Cart is empty....</h3>
    <a id="btn_add" href="@Url.Action("Index", "Bouquets")" class="btn btn-info btn-lg" style="margin-left:60px">
        <span class="glyphicon"></span> Continue shopping
    </a>
}
