
@model IEnumerable<FlowersStore.Models.Flower>

@{
    ViewBag.Title = "Квіти";
}

<h2>Квіти</h2>


@foreach (var f in Model)
{
<div class="well row" style=" margin-top: 30px">

    <div class="col-sm-4 col-xs-12">
        <h3><strong>@f.Flower_name</strong></h3>

        <img class="img img-responsive cimg" src="@Url.Content("~/Content/Images/Flowers/" + f.PictureType)"
             width="100" height="100" border-radius:50px 50px 50px 50px" />
    </div>

    <div class="col-sm-8 col-xs-12 pull-right">
        <a><h3><strong class="pull-right label label-primary">@f.Price.ToString("# грн")</strong> </h3></a>
    </div>

    <div class="col-sm-6 col-xs-10 pull-right"  >
        <a id="btn_add" href="@Url.Action("Details", "Flowers", new { id=f.Id })"
           class="btn btn-primary btn-lg pull-right" style="margin-top: 10%">
            <span class="glyphicon"></span>Деталі
        </a>
    </div>
        

    <div class="col-sm-4 col-xs-12 pull-right">
        <a id="btn_add" href="@Url.Action("AddFlower", "ShoppingCart", new { id=f.Id })"
           class="btn btn-info btn-lg pull-right" style="margin-top:10%">
            <span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart
        </a>
    </div>   
</div>


    if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Create New", "Create", new { id = f.Id })</li>
        <li>@Html.ActionLink("Edit", "Edit", new { id = f.Id }) </li>
        <li>@Html.ActionLink("Details", "Details", new { id = f.Id })</li>
        <li>@Html.ActionLink("Delete", "Delete", new { id = f.Id })</li>
    }
}

<div>
    <a id="btn_add" href="@Url.Action("Index", "Flowers")" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-eye-open"></span> Continue shopping
    </a>
</div>
