@model FlowersStore.Models.Ordered_services

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordered_services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order.Customer_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.Customer_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.service_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.service_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
