<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



            </div>
            <div class="navbar-collapse collapse">
                <img class="navbar-left" src="~/Content/Images/Logo3.png" height="5%" width="15%" />
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна сторінка", "Index", "Flowers")</li>
                    <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Bouquets", "Index", "Bouquets")</li>
                    <li>@Html.ActionLink("Flowers", "Index", "Flowers")</li>

                    <li class="active">
                        <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-info btn-lg" style="">
                            <span class="glyphicon glyphicon-shopping-cart" style="color:green">@Session["count"]</span>
                        </a>
                    </li>
                    <li>@Html.Partial("_LoginPartial")</li>

                </ul>

            </div>
        </div>
    </div>

    @*   @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
    *@
    <div class=" alert-info">
        <div class="container">
            <div class="">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>

                </ul>
            </div>
        </div>
    </div>
    @* }*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
