@model FlowersStore.Models.Payment_method

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment_method</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_method1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_method1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_customer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
